/*Unrelated, for personal reference
#ebeae3
#f3f3eb
#919189
#e894b6
*/

body {
  background-color: #f3f3eb;
}

button:focus {
  outline: none;
}

/*Hero Background Image with parralax scroll*/
.hero-container {
  display: flex;
  flex-direction: column;
  background: url(../assets/turntable.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

/*H1 size, and inverted stylings*/
.hero-container h1 {
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
  font-size: 10vw;
}

.hero-container h2 {
  font-size: 2vw;
  max-width: 50vw;        
  text-align: center;
  background-color: #f3f3eb;
  padding: 30px;
  border-radius: 40px;  
}

/*Content Section*/
.content-container {
  display: flex;
  column-gap: 40px;
  padding: 50px;
  margin: auto;
  margin-top: 50px;
  min-height: 15vh;
}

.vinyl-text {
  display: flex;
  flex-direction: column;
}

/*Vinyl record image + animation*/
.record {
  display: flex;
  margin: auto;
  margin-bottom: 50px;
  width: 400px;
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Stylings for the "Play Me" Button*/
.songbutton {
  font-family: "Montserrat", sans-serif;
  border-radius: 40px;
  box-shadow: 0px 5px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #e894b6;
  width: 150px;
  transition: 0.2s;
}

.songbutton:hover {
  background-color: #919189;
}

.songbutton:active {
  box-shadow: 0 3px #000000;
  transform: translateY(5px);
}

/*Accordion Section*/
.accordion-container {
  display: flex;
  padding: 50px;
  flex-direction: column;
  margin-top: -50px;
  color:black;
  min-height: 25vh;
}

.accordion {
  font-family: "Montserrat", sans-serif;
  background-color: #ebeae3;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion:active {
  background-color: #ebeae3
}

.accordion:hover {
  background-color: #919189;
}

.panel {
  padding: 0 18px;
  background-color: #f3f3eb;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease-out;
}

/*Footer Section*/
.footer-container {
  display: flex;
  background-color: #ebeae3;
  width: 100%;
  height: 40vh;
  position: relative;
}

a:link { 
  text-decoration: none; 
} 

.footer-links {
  padding: 50px;
  display: flex;
  margin: auto;
  align-items: center;
}

.footer-links a {
  font-weight: 500;
  font-size:larger;
  color: #e894b6;
}

.footer-links a:hover {
  color: #919189;
}

.footer-container iframe{
  display: flex;
  margin: auto;
  max-height: 30vh;
  max-width: 100vh;
}

.cc {
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 1rem;
}
